<div  class="main_container_about">

  <div class="rightside_box">
    
    <div class="placeholder"></div>

    <div class="container_img" >
       
        <div class="border_img">
            <img  data-aos="zoom-in" src="/assets/img/about/about_img.png" alt="">
            <div class="border_position"></div>
        </div>
        
    </div>
</div>


    <div class="leftside_box" >
      <div  class="box_sizing_left">

        <div data-aos="fade-right"data-aos-offset="300"data-aos-easing="ease-in-sine" class="container_title">
          
            <h1>{{ 'About me' | translate }}</h1>
        </div>
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="about_text_container">
     
            <p>{{ 'about_txt' | translate }}</p>
  
          <a class="txt_deco" href="#footer">
          <button>{{ 'lets_talk' | translate }}</button>
          </a>

        </div>
      </div>

    </div>
  
 
  
  </div>
  