<div class="main_container">
    <h1>{{ 'Privacy_Policy_title' | translate }}</h1>

    <h2>{{ 'Data_Protection_at_a_Glance' | translate }}</h2>

    <p><strong>{{ 'General_Information' | translate }}:</strong><br>
    {{ 'The_following_information_provides' | translate }}</p>

    <p><strong>{{ 'Data_Collection_on_Our_Website' | translate }}:</strong><br>
    {{ 'Data_processing_on_this_website_is_carried_out_by' | translate }}<br>
    {{ 'Your_personal_data_will_only_be_processed' | translate }}</p>

    <p><strong>{{ 'How_Do_We_Collect_Your_Data' | translate }}:</strong><br>
    {{ 'On_one_hand_your_data_is_collected' | translate }}<br>
    {{ 'Other_data_is_collected_automatically' | translate }}</p>

    <p><strong>{{ 'What_do_we_use_your_data_for' | translate }}:</strong><br>
    {{ 'The_data_you_enter_in_the_contact_form' | translate }}</p>

    <h2>{{ 'General_notes_and_mandatory_information' | translate }}</h2>

    <p><strong>{{ 'Data_protection' | translate }}:</strong><br>
    {{ 'The_operators_of_this_website_take' | translate }}</p>

    <p><strong>{{ 'Withdrawal_of_your_consent_to_data_processing' | translate }}:</strong><br>
    {{ 'Many_data_processing_operations' | translate }}</p>

    <h2>{{ 'Data_Collection_on_Our_Website_Heading' | translate }}</h2>

    <p><strong>{{ 'Contact_Form' | translate }}:</strong><br>
    {{ 'If_you_send_us_inquiries_via_the_contact_form' | translate }}<br>
    {{ 'The_data_entered_in_the_contact_form_is_processed' | translate }}<br>
    {{ 'We_will_retain_the_data_you_provide_on_the_contact_form' | translate }}</p>
</div>
