<div class="main_container_portfolio">
  <div class="container_project">
    <div class="left_box">
      <div class="img_container container_project">
        <img src="/assets/img/portfolio/pepe.png" alt="" />
      </div>
    </div>

    <div data-aos="fade-right" class="right_box">
      <div class="hide">
        <div class="container_right_content">
          <h3>02/03</h3>
        </div>

        <div class="container_discription">
          <div class="container_subtitle">
            <h2>PEPE</h2>
          </div>

          <div class="container_subtitle">
            <span class="subtitle_text">OOP | JavaScript | HTML | CSS</span>
          </div>
          <div class="container_discription_text">
            <span class="discription_text">
              {{ 'Pepe' | translate }}</span
            >
          </div>
          <div class="container_button">
            <a href="https://github.com/SoufianElMakhfi/git-github.com-SoufianElMakhfi-THWO-PEPE" target="_blank">
              <button>GitHub</button>
            </a>

            <div class="">
              <a href="http://soufian-elmakhfi.com/pepe" target="_blank">
                <button>Testing</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
