<div class="main_container_portfolio">
  <div class="title">
    <h1>Portfolio</h1>
  </div>

  <div class="container_project">
    <div class="left_box">
      <div class="img_container container_project">
        <img src="/assets/img/portfolio/join_kanban.png" alt=""/>
        
      </div>
    </div>

    <div data-aos="fade-right" class="right_box">
      
      <div class="hide">
      <div class="container_right_content">
        <h3>01/03</h3>
      </div>

      <div class="container_discription">
        <div class="container_subtitle">
          <h2>JOIN</h2>
        </div>

        <div class="container_subtitle">
          <span class="subtitle_text">JavaScript | HTML | CSS</span>
        </div>
        <div class="container_discription_text">
          <span class="discription_text">
            {{ 'join' | translate }}</span>
        </div>
        
        <div class="container_button">

        <div>
          <a href="https://github.com/a94hassan/join" target="_blank">
            <button>GitHub</button>
          </a>
        </div>

        <div class="">
          <a href="http://soufian-elmakhfi.com/join" target="_blank">
            <button>Testing</button>
          </a>
        </div>
        
      </div>

      </div>
    </div>
  </div>
</div>
</div>