<div class="main_content_myskills">

 

  <div   class="box">
       <div class="container_title">
            <h1>{{ 'Skills' | translate }}</h1>
          </div>
    <div class="contianer_logos">
     
      
      <div class="logos">
        <img  data-aos="flip-right" src="/assets/img/skill_icons/angular.png" alt="" />
        <img  data-aos="flip-right" src="/assets/img/skill_icons/typescript.png" alt="" />
        <img  data-aos="flip-right" src="/assets/img/skill_icons/javascript.png" alt="" />
        <img  data-aos="flip-right" src="/assets/img/skill_icons/html.png" alt="" />
        <img  data-aos="flip-right" src="/assets/img/skill_icons/css.png" alt="" />
        <img  data-aos="flip-right" style="width: 10vw; display: none;" src="/assets/img/skill_icons/photoshop.png" alt="">
      </div>

      <div class="logos">
        <img  data-aos="flip-left" src="/assets/img/skill_icons/firebase.png" alt="" />
        <img  data-aos="flip-left" src="/assets/img/skill_icons/git.png" alt="" />
        <img  data-aos="flip-left" src="/assets/img/skill_icons/scrum.png" alt="" />
        <img  data-aos="flip-left" src="/assets/img/skill_icons/api.png" alt="" />
        <img  data-aos="flip-left" src="/assets/img/skill_icons/material_design.png" alt="" />
        <img  data-aos="flip-left" style="display: none;" src="/assets/img/skill_icons/bootstrap.png" alt="">
      </div>

    </div>
  </div>

  
</div>
