<div class="main_container">
    <h1>{{ 'Imprint' | translate }}</h1>
    <br><br>

    <div>
        <b>{{ 'Information_according_to_Section_5_TMG' | translate }}:</b>
        <br><br>
        <p>{{ 'Name' | translate }}: Soufian El Makhfi <br>
        {{ 'Address' | translate }}: Ubierring 22, 50678 Cologne <br>
        </p>
        
        <p>
        {{ 'Email' | translate }}: mail&#64;soufian-elmakhfi.com <br>
        {{ 'Responsible_for_content_according_to_Section_55_2_RSTV' | translate }}: <br>
        Soufian El Makhfi
        </p><br>
        
        <span>
        
        <p><b>{{ 'Information_on_Online_Dispute_Resolution' | translate }}</b></p>   
        
        {{ 'ODR_description' | translate }}
        <br>
        {{ 'ODR_additional_info' | translate }}
        <br><br>
        </span>
        <p><b>{{ 'Disclaimer' | translate }}</b></p>
        
        <span> <b>{{ 'Liability_for_content' | translate }}:</b> 
        
            {{ 'Liability_for_content_description' | translate }}
        </span>
        
        <span><br><br>
            <b>{{ 'Liability_for_links' | translate }}:</b><br>
        
        {{ 'Liability_for_links_description' | translate }}
        </span><br><br>
        
        <span>
            <b>{{ 'Copyright_law' | translate }}</b> <br>
        
        {{ 'Copyright_description' | translate }}
        </span>
        
        </div>
</div>
